{% extends 'base.html' %} {% load static %} {% block page_title %} Job Hunter{% endblock %} {% block content %}

<section class="header">
    <div class="row mb-5">
        <div class="col-12 text-center">
            <h1 class="headliner-text">Jack Snowdons Job Hunter!</h1>
        </div>
    </div>
</section>

<section class="welcome">
    <div class="row">
        <div class="col-12">
            <h3>Welcome to The Job Hunter!</h3>
            <p>I'm gunna create some tools to track job applications. linkedin wins and anythign else meaningful. Connect to GitHub ETC</p>
        </div>
</section>

{% endblock %}