@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');

/* Background */

.bg {
    background-color: #f4f4f4;
    font-family: 'Ubuntu', sans-serif;
    height: 100%;
}


/* Navbar */

.nav-bg {
    background-color: #08c728;
}

.nav-bg a {
    color: #1D1115;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.nav-bg a:hover {
    color: #f8eae5;
}

.nav-button {
    color: #f8eae5;
}

.navbar-toggler {
    outline: none;
}

.logged-in {
    color: #1D1115;
    margin: 8px 2px;
}


/* Portal */

.job-box-outer {
    height: 75px;
    width: 100%;
    border: black solid 0.5px;
    margin-bottom: 3.5px;
}

.job-link a {
    margin-left: 3px;
    color: #1D1115;
    transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -webkit-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
}

.job-link a:hover {
    text-decoration: none;
    color: #267c35;
}