@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');

/* Background */

.bg {
    background-color: #fcf9f9;
    font-family: 'Ubuntu', sans-serif;
    height: 100%;
}


/* Navbar */

.nav-bg {
    background-color: #08c728;
}

.nav-bg a {
    color: #1D1115;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.nav-bg a:hover {
    color: #f8eae5;
}

.nav-button {
    color: #f8eae5;
}

.navbar-toggler {
    outline: none;
}

.logged-in {
    color: #1D1115;
    margin: 8px 2px;
}


/* Home */

.welcome-header {
    font-size: 3rem;
    padding-top: 5px;
    font-weight: 700;
}

.index-text {
    font-size: 22px;
}


/* Portal */

.list-group-item {
    color: #1D1115;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.list-group-item:hover {
    background-color: #dedfde;
    text-decoration: none;
}

.job-box-outer {
    height: 75px;
    width: 100%;
    border: black solid 0.5px;
    margin-bottom: 3.5px;
}

.con-link,
.job-link {
    color: #1D1115;
    transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -webkit-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
}

.job-link:hover {
    text-decoration: none;
    color: #292b29;
}

.job-notes {
    font-size: 16px;
    font-weight: 400;
}

.post-link {
    color: #14a094;
    transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -webkit-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
}

.post-link:hover {
    color: #1D1115;
}

.delete-note {
    color: #d30c0c;
    transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -webkit-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
}

.delete-note:hover {
    color: #ec2525;
}

.con-link:hover {
    text-decoration: none;
    color: #2310ce;
}