{% extends 'base.html' %} {% load static %} {% block page_title %} Job Hunter | {{ user.profile }}'s Calls{% endblock %} {% block content %}

<section class="button-nav">
    <div class="row mb-5">
        <div class="col-12">
            <a href="{% url 'portal' %}" role="button" class="btn btn-warning" aria-disabled="false">Portal</a>
            <a href="{% url 'view_all_applications' %}" role="button" class="btn btn-success" aria-disabled="false">All Jobs</a>
            <a href="{% url 'connections' %}" role="button" class="btn btn-info" aria-disabled="false">Connections</a>
        </div>
    </div>
</section>

<section class="header">
    <div class="row">
        <div class="col-12 text-center">
            <h2>{{ user.profile }}'s Calls</h2>
        </div>
    </div>
</section>

{% endblock %}