{% extends 'base.html' %} {% load static %} {% block page_title %} Job Hunter | {{ user.profile }}'s Calls{% endblock %} {% block content %}

<section class="button-nav">
    <div class="row mb-5">
        <div class="col-12">
            <a href="{% url 'portal' %}" role="button" class="btn btn-warning" aria-disabled="false">Portal</a>
            <a href="{% url 'view_all_applications' %}" role="button" class="btn btn-success" aria-disabled="false">All Jobs</a>
            <a href="{% url 'connections' %}" role="button" class="btn btn-info" aria-disabled="false">Connections</a>
        </div>
    </div>
</section>

<section class="header">
    <div class="row">
        <div class="col-12 text-center">
            <h2>{{ user.profile }}'s Calls</h2>
        </div>
    </div>
</section>

<section class="calls">
    <div class="row mb-3">
        <div class="col-12 mb-3">
            <p>All Calls:</p>
            <a href="{% url 'new_call' %}" role="button" class="btn btn-success mb-1" aria-disabled="false">Log Call</a>
        </div>
        <div class="col-12">
            <ul class="list-group">
                {% for c in calls %}
                <li class="list-group-item"><a href="#" class="job-link">{{ c.caller }} @ {{ c.first_call|date:"j/m/y" }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
</section>




{% endblock %}