{% extends 'base.html' %} {% load static %} {% block page_title %} Job Hunter | {{ user.profile }} Connections{% endblock %} {% block content %}

<section class="button-nav">
    <div class="row mb-5">
        <div class="col-12">
            <a href="{% url 'portal' %}" role="button" class="btn btn-warning" aria-disabled="false">Portal</a>
            <a href="{% url 'view_all_applications' %}" role="button" class="btn btn-success" aria-disabled="false">All Jobs</a>
            <a href="{% url 'connections' %}" role="button" class="btn btn-info" aria-disabled="false">Connections</a>
        </div>
    </div>
</section>

<section class="header">
    <div class="row">
        <div class="col-12">
            <h1>Connections</h1>
        </div>
    </div>
</section>

<section class="connections">
    <div class="row mb-3">
        <div class="col-12 mb-3">
            <h5>All Connections: {{ total_cons }}</h5>
            <a href="{% url 'new_connection_entry' %}" role="button" class="btn btn-success mb-1" aria-disabled="false">Log Connection</a>
        </div>
    </div>
</section>

<section class="last-week mb-3">
    <div class="row">
        <div class="col-12">
            <h5>Last Week Total: {{ week_cons_total }}</h5>
        </div>
        <div class="col-md text-center">
            <p>{{ today|date:"j/m/y" }}</p>
            <h5>{{ today_cons_total }}</h5>
        </div>
        <div class="col-md text-center">
            <p>{{ yday|date:"j/m/y" }}</p>
            <h5>{{ yday_cons_total }}</h5>
        </div>
    </div>
</section>

<section class="test">
    <div class="row">
        <div class="col-12">
            {% for date, amount in weeks_data.items %}
            <h5>{{ date|date:"j/m/y" }}</h5>
            <p>{{ amount }}</p>{% endfor %}
        </div>
    </div>
</section>

{% endblock %}