{% extends 'base.html' %} {% load static %} {% block page_title %} Job Hunter | {{ user.profile }} Connections{% endblock %} {% block content %}

<section class="button-nav">
    <div class="row mb-5">
        <div class="col-12">
            <a href="{% url 'portal' %}" role="button" class="btn btn-warning" aria-disabled="false">Portal</a>
            <a href="{% url 'view_all_applications' %}" role="button" class="btn btn-success" aria-disabled="false">All Jobs</a>
            <a href="{% url 'connections' %}" role="button" class="btn btn-info" aria-disabled="false">Connections</a>
        </div>
    </div>
</section>

<section class="header">
    <div class="row">
        <div class="col-12">
            <h1>Connections</h1>
        </div>
    </div>
</section>

<section class="connections">
    <div class="row mb-5">
        <div class="col-12 mb-3">
            <a href="{% url 'new_connection_entry' %}" role="button" class="btn btn-success mb-3" aria-disabled="false">Log Connection</a>
            <h5>All Connections: {{ total_cons }}</h5>
        </div>
        <div class="col-12">
            <p>{{ today }}</p>
            <h5>Today Cons: {{ today_cons_total }}</h5>
        </div>
        <div class="col-12">
            <h5>Yesterday: {{ yday_cons_total }}</h5>
        </div>
        <div class="col-12">
            <h5>Last Week: {{ week_cons_total }}</h5>
        </div>
    </div>
</section>

{% endblock %}