{% extends 'base.html' %} {% load static %} {% block page_title %} Job Hunter | {{ job }}{% endblock %} {% block content %}

<section class="button-nav">
    <div class="row mb-5">
        <div class="col-12">
            <a href="{% url 'portal' %}" role="button" class="btn btn-warning" aria-disabled="false">Back</a>
            <a href="{% url 'delete_job' job.pk %}" role="button" class="btn btn-danger" aria-disabled="false">Delete</a>
            <a href="{% url 'view_all_applications' %}" role="button" class="btn btn-success" aria-disabled="false">All Jobs</a>
        </div>
    </div>
</section>

<section class="header">
    <div class="row mb-5">
        <div class="col-12 text-center">
            <h1 class="headliner-text">{{ job }}</h1>
        </div>
    </div>
</section>

<section class="jobs">
    <div class="row">
        <div class="col-4">
            <h5>Applied On: {{ job.date|date:"j/m/y" }}</h5>
            <p> {{ job.applied_on }}</p>
            <p> Status: {{ job.status }}</p>
            <a href="{% url 'update_job_status' job.pk %}" role="button" class="btn btn-success" aria-disabled="false">Update Status</a>
        </div>
        <div class="col-8">
            <h5>Notes:</h5>
            <div class="job-notes">
                {{ job.notes|linebreaks }}
            </div>
            <a href="{% url 'update_job_notes' job.pk %}" role="button" class="btn btn-success" aria-disabled="false">Update Notes</a>
        </div>
    </div>
</section>

{% endblock %}