{% extends 'base.html' %} {% load static %} {% block page_title %} Job Hunter | {{ job }}{% endblock %} {% block content %}

<section class="button-nav">
    <div class="row mb-5">
        <div class="col-12">
            <a href="{% url 'portal' %}" role="button" class="btn btn-warning" aria-disabled="false">Back</a>
            <a href="{% url 'delete_job' job.pk %}" role="button" class="btn btn-danger" aria-disabled="false">Delete</a>
            <a href="{% url 'view_all_applications' %}" role="button" class="btn btn-success" aria-disabled="false">All Jobs</a>
        </div>
    </div>
</section>

<section class="header">
    <div class="row mb-5">
        <div class="col-12">
            <h1 class="headliner-text">{{ job }}</h1>
            {% if job.company != None %}
            <h3 class="ml-2">- {{ job.company }}</h3>
            {% else %}
            <a href="{% url 'update_job_company' job.pk %}" class="job-link">
                <p class="ml-2 mb-0">- Company Unknown</p>
            </a>
            {% endif %}
        </div>
    </div>
</section>

<section class="job-content">
    <div class="row">
        <div class="col-md-3 col-12 mb-3">
            <h5>Applied On: {{ job.date|date:"j/m/y" }}</h5>
            <div class="ml-2 mb-2">
                <p class="mb-1"> Last Update: {{ job.last_updated|date:"j/m/y" }}</p>
                {% if job.post_link == None %}
                <p class="mb-1"> Found Via {{ job.applied_on }}</p>
                {% else %}
                <a href="{{ job.post_link }}" class="post-link" target="_blank">
                    <p class="mb-1"> {{ job.applied_on }} Listing</p>
                </a>
                {% endif %}
                <p> Status: {{ job.status }}</p>
            </div>
            <a href="{% url 'update_job_status' job.pk %}" role="button" class="btn btn-success mb-2" aria-disabled="false">Update Status</a>
            <br>
            <a href="{% url 'new_note' job.pk %}" role="button" class="btn btn-success" aria-disabled="false">New Note</a>
        </div>
        <div class="col-md-9 col-12 mb-3">
            <h5>Notes:</h5>
            {% for n in job.notes.all %}
            <div class="ml-2">{{ n.content|linebreaks }}
            </div>
            <p class="mt-0">{{ n.created_on }} <a href="{% url 'delete_note' n.pk %}" class="delete-note" onclick="return confirm('Delete Note?');"><i class="far fa-trash-alt"></i></a></p>
            {% endfor %}
        </div>
    </div>
</section>

{% endblock %}