{% extends 'base.html' %} {% load static %} {% load crispy_forms_tags %} {% block page_title %} Job Hunter | New Applcation {% endblock %} {% block content %}

<section class="button-nav">
    <div class="row mb-5">
        <div class="col-12">
            <a href="{% url 'portal' %}" role="button" class="btn btn-warning" aria-disabled="false">Back</a>
        </div>
    </div>
</section>

<div class="row">
    <div class="col-12 text-center">
        <h1>New Job Application</h1>
    </div>
</div>

<form role="form" method="post" id="new_application_instance" action="{% url 'new_job_application' %}">
    <div class="form-group body-text">
        {% csrf_token %}
        <div class="form-row">
            <div class="form-group col-md-6 col-12">
                {{ job_form.role|as_crispy_field }}
            </div>
            <div class="form-group col-md-6 col-12">
                {{ job_form.applied_on|as_crispy_field }}
            </div>
            <div class="form-group col-12 mb-0">
                {{ job_form.notes|as_crispy_field }}
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-12 text-center">
                <input class="btn btn-success" id="sumbit_application_instance" name="commit" type="submit" value="Sumbit Application">
            </div>
        </div>
        <br>
    </div>
</form>

{% endblock %}