{% extends 'base.html' %} {% load static %} {% load crispy_forms_tags %} {% block page_title %} Job Hunter | New Connections {% endblock %} {% block content %}

<section class="button-nav">
    <div class="row mb-5">
        <div class="col-12">
            <a href="{% url 'portal' %}" role="button" class="btn btn-warning" aria-disabled="false">Portal</a>
            <a href="{% url 'view_all_applications' %}" role="button" class="btn btn-success" aria-disabled="false">All Jobs</a>
            <a href="{% url 'connections' %}" role="button" class="btn btn-info" aria-disabled="false">Connections</a>
            <a href="{% url 'call_index' %}" role="button" class="btn btn-info" aria-disabled="false">Calls</a>
        </div>
    </div>
</section>

<section class="header">
    <div class="row">
        <div class="col-12 text-center">
            <h1>New Call</h1>
        </div>
    </div>
</section>

<form role="form" method="post" id="new_call_form" action="{% url 'new_call' %}">
    <div class="form-group body-text">
        {% csrf_token %}
        <div class="form-row">
            <div class="form-group col-md-4 col-12 mb-0">
                {{ call_form.caller|as_crispy_field }}
            </div>
            <div class="form-group col-md-8 col-12 mb-0">
                {{ call_form.notes|as_crispy_field }}
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-12 text-center">
                <input class="btn btn-success" id="sumbit_new_call" name="commit" type="submit" value="Save">
            </div>
        </div>
        <br>
    </div>
</form>

{% endblock %}