{% extends 'base.html' %} {% load static %} {% block page_title %} Job Hunter{% endblock %} {% block content %}

<section class="header">
    <div class="row mb-5">
        <div class="col-12 text-center">
            <h1 class="headliner-text">{{ profile }}'s Portal</h1>
        </div>
    </div>
</section>

<section class="jobs">
    <div class="row">
        <div class="col-6">
            {% for j in jobs %}
            <p>{{ j }}</p>
            {% endfor %}
        </div>
        <div class="col-6"></div>
    </div>
</section>

{% endblock %}